body {
  background-color: #FFBE36;
}
.container {
  background-image: url("http://s23.postimg.org/vdq0deshn/maxresdefault2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
}
.ladyR img {
  width: 12em;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
