body {
  background-color: #FFBE36;
}
.container {
  background-image: url("https://i.ytimg.com/vi/qxjyRmdMJug/maxresdefault.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.bouh {
  margin-top: 20%;
}
